.imgh{
    min-height: 4cm;
    min-width: 4cm;
    max-width: 4cm;
    max-height: 4cm;
    border-radius: 50%;
    margin-top: 2cm;
  border-top: 20px solid #be8a35;
  padding: 5mm;
  

}
.boxh{
    max-width: 10cm;
    min-height: 14cm;
    background-color: #595858;
    display: flex;
    justify-content: center;
    margin-right: 5mm;
  margin-left: 5mm;
  margin-top: 8mm;
  margin-bottom: 8mm;
  border-radius: 8%;
  font-weight: bold;
  color: #f3f3f3;
    
    
}
.rating{
    text-align: center;
    position: absolute;
    margin-top: 8cm;
}
.fnh{
    
    text-align: center;
    position: absolute;
    margin-top: 10cm;
}
.rupe{
    
    text-align: center;
    position: absolute;
    margin-top: 11.5cm;
}
.fnb{
    text-align: center;
    position: absolute;
    padding: 3mm;
    background-color: #d3912a;
    margin-top: 13.5cm;
    border: 0ch;
}
.fnb:hover{
    background-color: #fe9d00;
}
.heafalse{
    position: absolute;
    width: 1.3cm;
    height: 1.3cm;
    
    color: white;
    margin-top: 6cm;
    margin-top: 12.6cm;
    margin-left: 1cm;
}
.heatrue{
    position: absolute;
    width: 1.3cm;
    height: 1.3cm;
    color: red;
    margin-top: 12.6cm;
    margin-left: 1cm;
    
}
.butca{
    width: .1mm;
    height: .1mm;
    background-color: #191919;
    border: none;
    
}
