.subsignup{
    text-align: left;
    margin-left: 3.5cm;
   margin-bottom: .6%;
   margin-top: 5cm;
}

.insu{
    width: 7cm;
    height: 1cm;
    border-radius: 5%;
    background-color: #dedede;
    border: 0ch;
}
.headsiu{
    font-size: larger;
}
.sigr{
    position: absolute;
    top: 12%;
    left: 70%;
}
.sigr img{
    width: 6cm;
    
}
.sigr h1{
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: 6cm;
    
    
}
.masiup {
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.masiup h2{
    color: #dbb16f;
    position: absolute;
    top: 10%;

}
.sigsu{
    position: absolute;
    top: 52%;
    width: 7cm;
    height: 1.4cm;
    border-radius: 5%;
    font-size: large;
    font-weight: bolder;
    background-color: #dbb16f;
    color: white;
    left: 35%;

}
.spsu{
    color: #dbb16f;
}
.mash{
   
   position: absolute;
   top: 5%;
   text-align: center;
}